{% set wide_views = ["vis"] %}
{% if request.url_rule.endpoint in wide_views %}
<nav class="navbar navbar-default" style="margin-top: 20px;">
{% else %}
<nav class="navbar navbar-default">
{% endif %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="{{ url_for('index') }}" >
            <img style="max-width:50px; margin-top: -15px;" src="{{ url_for('static', filename='img/gallery.jpg') }}" alt="{{ config['APP_NAME'] }}" title="{{ config['APP_NAME'] }}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-right" style="font-size:17px;">
                   {% for href, id, caption in nav_bar_content %}
                    <li {% if id == active_page %} class="active"{% endif%}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                    {% endfor %}
            </ul>
        </div>
  </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
             {% for href, id, caption in nav_bar_content %}
                    <li {% if id == active_page %} class="active"{% endif%}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
             {% endfor %}
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="{{ url_for('static', filename='img/gallery.jpg') }}" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>
-->