<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ config['APP_NAME'] }}</title>
    <meta name="description" content="Immunitor.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="static/img/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>

<div class="alert alert-danger" role="alert">
  Please note this is only an draft of our final project, data are currently not being collected, stored or analyzed.
</div>

<body id="body" class="{% block body_class %}{% endblock %}">
    <noscript>
        <style type="text/css">
            .container {display:none;}
        </style>
        <div class="noscriptmsg col-md-8" style="text-align: justify;">
        <h1>You don't have JavaScript enabled.</h1>
          We understand, that you represent a very "special" 1% of all users, but<br>
          please enable JavaScript to use  {{ config['APP_NAME'] }} (and 99.99% of the net).<br><br>
          Kind Regards!
        </div>
    </noscript>

    {% set wide_views = ["vis"] %}

    {% if request.url_rule.endpoint in wide_views %}
        <div class="container">
    {% else %}
        <div class="container">
    {% endif %}


        {% set nav_bar_content = [
            (url_for('status'), 'status', 'Home'),
            (url_for('visuals'), 'visuals', 'Visualization'),
            (url_for('faq'), 'help', 'FAQ')
        ] -%}

        {% set active_page = active_page|default('index') -%}
        {% include "_nav.html" %}

        {% include "_messages.html" -%}
             <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% block layout %} {% endblock -%}
        <footer class="footer">
                {{ config['APP_NAME'] }} 2020  | <a href="{{ url_for('terms') }}">Terms and conditions</a>
                |<a href="mailto:admin@admin.com"> Contact us </a>
                | Created by <a href="https://github.com/cunyap/immunitor">Immunitor team</a>

        </footer>
    </div>
</body>
</html>
