{% extends 'base.html' %}
<!--
{% set active_page = "" %}
{% block body_class %}main main-index{% endblock %}
-->
<!--
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">
{% endblock %}
-->

{% block content %}
{% if scrollToAnchor %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.location.hash = '#{{ scrollToAnchor }}';
    });
</script>
{% endif %}

<!-- Projects Section -->
<section id="faq" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <h2 class="page-header">Frequently Asked Questions</h2>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Infected</h4>
                    <p class="text-black-50 mb-0">You identify as infected if you currently have viruses that are likely replicating in
                        your body. Current testing methods identify the viral genome in nasal swabs. They work by breaking open the
                        viral envelope to expose and amplify the viral genome. This makes identification of as many as a single virus
                        copy possible (FYI: methods used here are PCR and reverse transcription).</p>
                </div>

                <br>
                <hr class="d-none d-lg-block mb-0 ml-0">
                <br>
                <div class="featured-text text-center text-lg-left">
                    <h4>Immune</h4>
                    <p class="text-black-50 mb-0">During viral infection, the immune system starts producing antibodies against proteins
                        exposed on the viral envelope to fight back the infection. Upon viral clearance, the produced antibodies -
                        specific to the virus proteins - reside in the body and, similar to vaccinations, neutralise the same viruses
                        during reinfection. This immune system memory mostly lasts for 1-5 years. Current immunity tests are based on
                        blood samples and bind in-blood antibodies. Recognition of virus specific antibodies is achieved by exposing
                        various SARS-CoV-2 specific proteins on the test strip surface that will facilitate binding of specific
                        antibodies (bound antibodies can be visualised through antibody detecting reagents). </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}