{% extends 'base.html' %}

{% block content %}

	 <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Immunitor</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">The immunity tracker</h2>
		<p>Did you already submit an entry?  If so upload the screenshot of the QR code or paste the code</p>
		 <form method="POST" action="/" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group row">
                </div>
                <div class="form-group col-md-4 mb-3">
                    {{ form.hidden_tag()}}
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <!-- <input type="file" class="custom-file-input" id="inputGroupFile01"> -->
                    {{ form.image(type="file", class="custom-file-input", id="inputGroupFile01")}}
                   <label class="custom-file-label" for="inputGroupFile01">Choose screenshot of the QR code</label>
                </div>
            </div>
            <br>
            {{ form.code(class_="form-control", placeholder="for example: 20200404224344252-113")}}
            <small id="codeHelp" class="form-text text-muted">
                Paste the id encoded in the QR code you received at the end of your last submission above.
            </small>
            <br>
            <br>
            {{ form.confirm(class="btn btn-primary")}}
            <br>
            <br>
            {{ form.new_user(class="btn btn-primary")}}
        </form>
	
      </div>
    </div>
  </header>
{% endblock %}
