{% extends 'base.html' %}
<!--
{% set active_page = "" %}
{% block body_class %}main main-index{% endblock %}
-->

<!--
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">
{% endblock %}
-->


{% block content %}

{% if scrollToAnchor %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.location.hash = '#{{ scrollToAnchor }}';
    });
</script>
{% endif %}

<section id="returning" class="projects-section bg-light">
    <div class="container">

        {% if error %}
        <div id="warningNoFile" class="alert alert-warning alert-dismissible fade show" role="alert">
            {% if error=="noFile" %}
            <strong>Warning!</strong> Please select a file first.
            {% else %}
            <strong>Warning!</strong> No qr code could be found in the image provided.
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="form">
            <div class="col-xs-12" style="text-align: justify; color: white">

                <form method="POST" action="/returning" enctype="multipart/form-data">
                    <div class="col-xs-12">
                        <h2 class="title ml-5 ml-lg-0" style="color:black">Did you already submit an entry?</h2>
                        <p style="color:black"> If so upload the screenshot of the QR code or paste the code</p>
                    </div>
                    <div class="form-row">
                        <div class="form-group row">
                        </div>
                        <div class="form-group col-md-4 mb-3 ml-3 ml-lg-0">
                            {{ form.csrf_token}}
                            {{ form.hidden_tag()}}
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <!-- <input type="file" class="custom-file-input" id="inputGroupFile01"> -->
                            {{ form.image(type="file", class="custom-file-input", id="inputGroupFile01")}}
                            <label class="custom-file-label" for="inputGroupFile01">Choose the screenshot of the QR code from your device</label>
                        </div>
                    </div>
                    <p style="color:black"> or </p>
                    {{ form.code(class_="form-control", placeholder="for example: 20200404224344252-113")}}
                    <small id="codeHelp" class="form-text text-muted">
                        Paste the id encoded in the QR code you received at the end of your last submission above.
                    </small>
                    <br>
                    <br>
                    {{ form.confirm(class="btn btn-primary")}}
                    <br>
                    <br>
                    {{ form.return_landing(class="btn btn-primary")}}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}