{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Status Report</h2>
  <form method="POST" action="/">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.status_not_infected.label }} {{ form.status_not_infected }}
      </div>
      <div class="form-field">{{ form.status_infected.label }} {{ form.status_infected }}
      </div>
      <div class="form-field">{{ form.status_immune.label }} {{ form.status_immune }}
      </div>
  </form>
</div>
{% endblock %}
