<!--{% extends 'base.html' %}
{% set active_page = "" %}
{% block body_class %}main main-index{% endblock %}
-->

{% block layout %}

{% if scrollToAnchor %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.location.hash = '#{{ scrollToAnchor }}';
    });
</script>
{% endif %}

<!-- Projects Section -->
<section id="terms" class="projects-section bg-light">
    <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <h2 class="page-header">Terms and condition</h2>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Availability</h4>
                    <p class="text-black-50 mb-0">Immunitor is free for everyone.</p>
                </div>
                <br>
                <hr class="d-none d-lg-block mb-0 ml-0">
                <br>
                <div class="featured-text text-center text-lg-left">
                    <h4>License</h4>
                    <p class="text-black-50 mb-0">Immunitor is released under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL 3 licence </a>.
                        The source code could be found <a href="https://github.com/cunyap/immunitor">here</a>.
                        If you would like contribute to the project, fork it, or make it your own, please take the time to read and
                        understand the licence. For general use, the two main points to consider from the licence are:
                        <br><br>
                        <b>15. Disclaimer of Warranty.</b><br>
                        THERE IS NO WARRANTY FOR THE PROGRAM, TO THE EXTENT PERMITTED BY APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH YOU. SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
                        <br><br>
                        <b>16. Limitation of Liability.</b><br>
                        IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                    </p>
                </div>
                <br>
                <hr class="d-none d-lg-block mb-0 ml-0">
                <br>
                <div class="featured-text text-center text-lg-left">
                    <h4>Data handling</h4>
                    <p class="text-black-50 mb-0"> Immunitor is hosted on ETHZ servers. The uploaded data is stored completely anonymized and only the registering user can modify it trough a key only generated once upon
                        submission presented as QR code. All data and derived results are accessible for everyone.

                        Immunitor does not guarantee the future availability of any uploaded data or acquired results. Furthermore,
                        Immunitor reserve the right to terminate the hosting of this service at any time. Therefore, users are encouraged to
                        download their results and take screenshots of the relevant visualisations.</p>
                </div>
                <br>
                <hr class="d-none d-lg-block mb-0 ml-0">
                <br>
            </div>
        </div>
    </div>

</section>



{% endblock %}